<footer class="page-footer">
	<ul class="center footer-list">
		<li>
			<a href="https://docs.google.com/document/d/1vw-ZHol7Nxwt-aUjvtIc8I9YYCcxNZ7jxnEvJynidn0/edit" target="_blank"><i
					class="fas fa-file-alt"></i><span class="footer-text">Resume</span></a>
		</li>
		<li class="footer-split">|</li>
		<li>
			<a href="https://www.linkedin.com/in/joshualtucker/" target="_blank"><i class="fab fa-linkedin"></i><span
					class="footer-text">LinkedIn</span></a>
		</li>
		<li class="footer-split">|</li>
		<li>
			<a href="https://github.com/JTux" target="_blank"><i class="fab fa-github"></i><span
					class="footer-text">GitHub</span></a>
		</li>
		<li class="footer-split">|</li>
		<li>
			<a href="#title"><i class="fas fa-angle-double-up"></i><span class="footer-text">Back To Top</span></a>
		</li>
	</ul>
</footer>