.sn-header {
	font-size: 1vw;
	background-color: var(--primary-text);
	color: white;
	position: relative;
	cursor: default;
	border-bottom: solid 2px white;
	padding: 0 .15em;
	min-height: 3.5rem;
}

.sn-brand {
	text-align: center;
	font-size: 1.35vw;
	margin: .5em 0 0 0;
}

.sn-initials {
	display: none;
}

.sn-item-area {
	flex: 1;
}

.sn-buttons {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	height: 100%;
	color: var(--accent);
	padding: .5em;
}

.sn-item {
	flex: 1;
	text-align: center;
	position: relative;
	padding: .375em .75em;
}

.active-page {
	color: var(--primary-bg-color);
	text-decoration: underline;
}

.active-page>>>.sn-item-container, .active-page>>>.sn-item-container:active {
	border-color: var(--primary-bg-color);
	background-color: var(--accent);
	color: white;
}

.sn-footer {
	margin-top: .375em;
	height: 2.5em;
	width: 100%;
	background-color: var(--accent);
	position: relative;
	color: white;
}

@media only screen and (max-width: 600px) {
	.sn-header {
		padding-top: 2.75em;
		border: none;
	}
	.sn-buttons {
		padding: 0;
	}
	.sn-logo-container {
		height: 6vh;
	}
	.sn-initials {
		width: 100%;
		text-align: center;
		display: block;
		font-size: 10em;
		font-family: 'Orienta', sans-serif;
		font-weight: 100;
	}
	.sn-item {
		margin: .275em auto;
		padding: 0;
		width: 85%;
	}
	.sn-brand, .sn-header>>>.subtitle-wrapper, .sn-item>>>.sn-text {
		display: none;
	}
	.sn-item>>>.sn-item-container {
		width: 95%;
		margin: auto;
	}
}