<header class="sn-header" routerLink="/">
	<h1 class="sn-brand">JOSHUA L TUCKER</h1>
	<div class="sn-logo-container">
		<h1 class="center sn-initials">JT</h1>
	</div>
	<app-subtitle [subtitleArray]="subtitles"></app-subtitle>
</header>

<div class="sn-item-area">
	<div class="sn-buttons">
		<sidenav-item class="sn-item" *ngFor="let item of navItems" [ngClass]="{'active-page': activeItem === item.id}"
			[navItem]="item" (setActive)="updateActivePage($event)">
		</sidenav-item>
	</div>
</div>

<sidenav-footer class="sn-footer"></sidenav-footer>