<page-header [arrowId]="'greetings'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>In this section you'll learn more about me as an instructor, a developer, and as a person.</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="greetings" [sectionHeader]="'Who am I?'">
		<p>Hello! I am Joshua Tucker, one of the Staff Instructors at Eleven Fifty Academy. I have been at Eleven Fifty
			for around {{serviceTime}} now, and it sure has been quite the journey. From my time as a student to now as a
			Staff Instructor I have experienced and accomplished a lot. I have worked my way as a teaching assistant,
			taught developers with years of experience, built up the Software Development (formerly .NET) course,
			trained a team of instructors, and much more. During this time I have constantly worked on improving my own
			understanding, reinforced best coding practices, as well as continually learned new teaching techniques to
			evolve the program.</p>
	</page-section>
	<page-section id="creativity" [sectionHeader]="'Creativity'">
		<p>Ever since I was a child I've been working on creating things. While most of that involved paper on pencil, I
			would occasionally dabble with at creating something with my hands. For example, at age four I created a
			paper helicopter with moving rotors. I can't say I ever had an intended career path in mind, but the idea of
			being an author or artist were never far from my mind. If I wasn't writing, drawing, or reading, then I'd
			probably be playing with LEGO. This inspired a desire to go into engineering and while I did not pursue
			that, I'd say having found my way to a point where I can express myself creatively while still working with
			technology is a wonderful middle ground. All while helping others? Sign me up!</p>
	</page-section>
	<page-section id="childhood" [sectionHeader]="'Growing Up With Tech'">
		<p>Growing up I was fortunate enough to have what felt like a decent amount of exposure to technology. While I
			can't say I was one of the lucky ones who has been programming since a young age, I definitely did find
			myself playing with technology whenever I was able to get my hands on it. I was able to dabble
			in high school in classes such as web design, A+ computer repair, and robotics engineering. In my spare time
			I would try my hand at writing small scripts for video games whenever I could, basically anything that
			allowed me to express some level of creativity through technology.</p>
	</page-section>
	<page-section id="schooling" [sectionHeader]="'School and Beyond'">
		<p>While I often found myself capable of excelling in traditional education, I also found myself unable to find
			the motivation. When it comes up I usually tell people that dropping out of college was the best thing I
			did. While I really do love learning, it happened to be the wrong time for me. A few years later when I
			decided it was time to go back, I found out about Eleven Fifty. I had spent some of my time working on
			learning some programming and figured this would be a good middle ground. While attending Eleven Fifty as a
			student in the middle of 2018 I found it really was my calling. I also found myself helping my classmates.
			When I found I could turn this into a career I jumped at the opportunity.</p>
	</page-section>
	<page-section id="interests" [sectionHeader]="'Love of Programming'">
		<p>While some people treat this field as just a job, I find that it's so much more. When asked the question
			"What do you do in your free time?" sure I can answer a handful of different things, but there's nothing
			quite as satisfying as working with code. It's creative, it's logic, it's a lot of problem solving.
			Programming is definitely a passion. While it's not for everyone, it's definitely for me.</p>
	</page-section>
</section>
<page-footer></page-footer>