<page-header [arrowId]="'interactive'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>Here you'll find information about my classroom and how it runs. Learn about my class experience as well as some
		of the techniques I use to ensure the class time is engaging and effective.</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="interactive" [sectionHeader]="'Interactive Lessons'">
		<p>Something that we all learn at a pretty young age is that we learn by doing. I often tell my students that
			I'm not a high school teacher and that it's on them to make sure they're doing the work. That said, it is on
			me to make sure there's ample opportunity for them to keep up. That's why during lessons, lectures, and
			challenges, I make sure to include a lot of opportunities for students to interact. Asking questions and
			giving students time to process, think, and respond is one of the many ways to keep the class involved.
		</p>
		<p>I like to tell people that this is not just vocabulary that we're memorizing. When a student struggles and
			says they
			just need the answer, I point out that it doesn't help anyone if I just solve the problem for them. If I do,
			I make sure the student can explain back or walk me through what changes we made together.</p>
	</page-section>
	<page-section id="learning" [sectionHeader]="'Learning By Experience'">
		<p>The best way to learn code is to code. That's it, plain and simple. This means the more time students are
			working on synthesizing code and the less time I am talking at them the better. Taking time in the middle of
			lessons to exercise what we've been learning, or simply starting or ending the day with a challenge. These
			are all ways to reinforce what they're learning.</p>
		<p>Students in my class will definitely find themselves being pushed and constantly learning by working. While
			early in the program there's a lot of leading, I like to make sure my students are independent as that will
			best support their career in the future.</p>
	</page-section>
	<page-section id="humility" [sectionHeader]="'Humility and Its Role'">
		<p>Something important that I exercise in the classroom is humility. Something you'll hear about me is that I
			don't make people feel dumb. While I'm not always raving about myself, this is something I take pride in. If
			I didn't like working with people as they learn new things, this would be the wrong job for me. I take any
			opportunity presented to me to show humility myself. I learn in front of the students and make sure to
			highlight that. If I am stumped, I make sure to walk the students along with me and highlight I'm not
			perfect. It's all a part of what makes this a great field, we're all imperfect.</p>
	</page-section>
	<page-section id="reviews" [sectionHeader]="'Reviews and Ratings'">
		<p>With the large amount of students and classes I have interacted, I've had ample opportunity to improve how I
			interact with students. I tend to have pretty good reviews, both from students and EFA Staff. While it's fun
			to be the good guy, sometimes I have to be strict. While that doesn't always get immediate positive
			feedback, I feel like most students realize later on that it was for their benefit. I constantly have high
			ratings on student feedback surveys, really reinforcing that leading the classroom and supporting my team is
			a good place for me.</p>
	</page-section>
</section>
<page-footer></page-footer>