.page-header {
	max-height: 100%;
	padding: 0 1.5em;
	display: flex;
	flex-direction: column;
	color: var(--accent-text);
}

.page-header h1, .page-header h2 {
	margin: .25em 0;
	text-align: center;
	color: var(--primary-text);
}

.page-header h1 {
	font-size: 2.5rem;
}

.page-header h2 {
	font-size: 1.5rem;
}

.page-header hr {
	border-color: var(--accent-transparent);
	border-style: solid;
	border-top: none;
}

.page-titles {
	margin-top: 1em;
	max-width: 85vw;
	overflow: hidden;
}

.page-description {
	flex: 1;
	text-align: center;
}

.nav-arrow {
	position: relative;
	min-height: 2em;
	background-color: rgba(255, 255, 255, .75);
	padding-bottom: 2.5em;
}

.down-arrow-link {
	position: absolute;
	top: 1.25em;
	left: 50%;
	transform: translateX(-50%);
}

.down-arrow {
	border-top: 1em solid var(--primary-text);
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	transition: .45s;
	cursor: pointer;
	animation: fadein 3s;
	opacity: .75;
}

.down-arrow:hover {
	transition: .45s;
	border-left: 1.5em solid transparent;
	border-right: 1.5em solid transparent;
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	.page-header {
		height: 100vh;
	}
	.page-titles h1 {
		font-size: 1.75rem;
	}
	.page-titles h2 {
		font-size: 1.5rem;
	}
	.nav-arrow {
		margin-bottom: 2em;
	}
}