.side-nav {
	height: 100vh;
	width: 15vw;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
}

.body-content {
	min-height: 100vh;
	max-height: 100vh;
	width: 85vw;
	position: fixed;
	top: 0;
	right: 0;
	overflow-y: scroll;
	scroll-behavior: smooth;
}