.side-nav {
	height: 100%;
	width: 15vw;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	border-right: 2px solid var(--accent);
	background-color: var(--accent);
}

.body-content {
	max-height: 100vh;
	width: 85vw;
	position: fixed;
	top: 0;
	right: 0;
	scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
	.side-nav {
		background-color: var(--primary-bg-color);
		border: none;
	}
}