<page-header [arrowId]="'overview'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>Here you can learn a bit more about my success as an instructor as well as read some feedback given from former
		students.</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="overview" [sectionHeader]="'Success Stories'">
		<p>Having been around for a while now and having had my hands in a lot of cohorts, I have seen some incredible
			students come through the program. I've also had the pleasure of teaching some of the people that would go
			on to be some of our wonderful instructors. Below are just a few reviews left by former students and
			coworkers.</p>
		<p>
			With my most recent class coming to completion with over 20 graduates, I have seen quite a few success
			stories. Whether that be students completely rocking tech assessments or it be one of the many students
			landing jobs before graduation, I've been fortunate enough to work with some amazingly dedicated people.
			It's been quite an amazing journey so far.
		</p>
	</page-section>
	<page-section id="colleagues" [sectionHeader]="'Coworker Feedback'">
		<div class="review">
			<p class="quote">Josh was my .NET instructor at Eleven Fifty Academy and part of the reason I am pursuing to
				be an instructor there myself. His passion for learning is apparent the moment you meet him. I leave
				every interaction with Josh feeling like I have learned something new. The cool part is that it isn’t
				always about code. Josh takes the time to explain as many times as you may need to help you understand,
				and he never makes you feel bad for not getting it right away. That might be one of my favorite things
				about him. Now as his coworker I get to see first hand all the hard work he puts into his classes. You
				would be hard pressed to find someone more dedicated and passionate. I aspire to be as good as an
				instructor as him one day.
			</p>
			<p class="speaker">- Amanda Knight, Software Development Instructor and Former Student</p>
		</div>
		<div class="review">
			<p class="quote">I really like working with Josh, he is very clear with his instruction and the way he wants
				things done. Watching the way Josh interacts with his students is very fun to watch. He takes all of the
				questions in stride and know how to answer all of the questions. If he doesn't know how to answer them
				he is quick to look them up and get back to the students with answers. He is the best at giving people
				tasks and is very good at making sure we know how it needs to be done. If we aren't doing it correctly
				he doesn't make us feel bad, instead he guides us to the correct way and helps us learn it. All and all
				Josh is great instructor and a great co-worker.</p>
			<p class="speaker">- Adam Wolanin, Software Development Instructor Trainee</p>
		</div>
		<div class="review">
			<p class="quote">I have had the opportunity to both have Josh as my .NET instructor when I was a student and as a coworker at Eleven Fifty Academy. As an instructor, Josh has a natural talent for teaching. He’s a skilled lecturer and he is great at guiding the students in learning the materials by really helping them think through and pinpoint the issue they’re having. This allows students to become more independent in solving their own problems going forward which is an invaluable skill. As a coworker at Eleven Fifty, it is obvious that Josh is passionate about his job and about making the school better. He’s constantly improving the curriculum and collaborating with his coworkers on how we can improve the school overall. He was a fantastic instructor and he’s been great to work with.</p>
			<p class="speaker">- Michael Pabody, Software Development Assistant and Former Student</p>
		</div>
	</page-section>
	<page-section id="student" [sectionHeader]="'Student Feedback'">
		<div class="review">
			<p class="quote">Josh was great, I trusted his knowledge, and his instructional style was very effective. He
				took his time to walk through examples, and always made time for questions. He has a real knack for
				making complex concepts simpler and easier to understand. His lessons seemed very well-prepared and
				organized.
			</p>
			<p class="speaker">- Software Development Graduate</p>
		</div>
		<div class="review">
			<p class="quote">He did a great job, was super knowledgeable and open to any and all questions.</p>
			<p class="speaker">- Software Development Graduate</p>
		</div>
		<div class="review">
			<p class="quote">I'm glad Josh was my teacher. Like I mentioned previously, his willingness to answer any
				questions, whether it be about code, best practices, or anything made the class very enjoyable and
				approachable.</p>
			<p class="speaker">- Software Development Graduate</p>
		</div>
		<div class="review">
			<p class="quote">Overall he did very well with the course, and I enjoyed learning c# during my time with
				him.
			</p>
			<p class="speaker">- Software Development Graduate</p>
		</div>
		<div class="review">
			<p class="quote">How do I get your brain?</p>
			<p class="speaker">- Software Development Student</p>
		</div>
	</page-section>
</section>
<page-footer></page-footer>