.sn-item-container {
	width: 100%;
	height: 100%;
	border: solid 1px var(--primary-bg-color);
	background-color: white;
}

.sn-text {
	width: 97%;
	position: relative;
	font-size: 1.05vw;
}

.nav-icon {
	display: none;
}

@media only screen and (max-width: 600px) {
	.nav-icon {
		display: block;
	}
}