.sn-item-container {
	width: 100%;
	height: 100%;
	background-color: white;
	cursor: pointer;
	transition: .45s;
}

.sn-text {
	width: 90%;
	position: relative;
	font-size: 1.05vw;
	line-height: 1.15vw;
	padding-top: .4vw;
}

.nav-icon {
	display: none;
}

@media only screen and (max-width: 600px) {
	.nav-icon {
		display: block;
	}
}