.sn-item-container {
	width: 100%;
	height: 100%;
	background-color: white;
	cursor: pointer;
}
/* 
.sn-item-container:active {
	color: black;
} */

.sn-text {
	width: 90%;
	position: relative;
	font-size: 1.05vw;
}

.nav-icon {
	display: none;
}

@media only screen and (max-width: 600px) {
	.nav-icon {
		display: block;
	}
}