<page-header [arrowId]="'about'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>Welcome to Eleven Fifty Academy portfolio! On this site you'll be able to learn about me, my experiences, and
		successes at EFA.</p>
	<p>This page outlines what the rest of the site's content. Below you'll find a brief summary for each section where
		I have outlined different areas of excellence.</p>
	<p>These areas demonstrate some of my abilities and contributions to the Learning Team and classroom environment.
	</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="about" [sectionHeader]="'About Me'">
		<p>Hello, my name is Joshua Tucker and I am a Staff Instructor at Eleven Fifty Academy. In this section you can
			learn more about myself.</p>
	</page-section>
	<page-section id="skills" [sectionHeader]="'Tech &amp; Code Skills'">
		<p>Section's first paragraph.</p>
	</page-section>
	<page-section id="class" [sectionHeader]="'Classroom Management'">
		<p>Section's first paragraph.</p>
	</page-section>
	<page-section id="curriculum" [sectionHeader]="'Curriculum Development'">
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="feedback" [sectionHeader]="'Student Feedback'">
		<p>Section's second paragraph.</p>
	</page-section>
</section>
<page-footer></page-footer>