<page-header [arrowId]="'curriculum'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>Contribution to curriculum development via improvement, documentation, updates, and/or
		implementation to the EFA curriculum.</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="curriculum" [sectionHeader]="'Curriculum Buildout'">
		<p>Ever since my early days at Eleven Fifty while under the mentorship of Paul O'Connor I have been heavily
			involved in the development of curriculum. In the late 2018 I was on the team of people building the
			materials out to teach the five developers from Knowledge Services. This was a jump in pace and experience
			compared to the normal programs offered at EFA which pushed us to rapidly learn and develop more involved
			materials.</p>
		<p>After the success and growth provided by this experience, I was transitioned back into the normal classroom
			environment offered to incoming students. At this point we (myself and former instructors, Ransford Walker
			and Lawrence Wagner) took up the task of formalizing and building out the lesson plans for the .NET program.
			With a good foundation established, we took our experience as recent graduates and directly applied this to
			the course materials. This enabled us to fill in any gaps we knew of that could be filled, a practice that
			continues to this date. Together we really reinforced the groundwork that is now the Software Development
			Course at Eleven Fifty.</p>
		<p>During this process we created consistant calendars, lesson plans, and onboarding materials for any incoming
			instructors. We also developed and implemented new challenging and interesting assignments, quizzes, and
			assessments along with the rubrics that provide a proper evaluation of the given items.</p>
	</page-section>
	<page-section id="canvas" [sectionHeader]="'Implementing Canvas'">
		<p>As we continued to grow and transition as a company, one of the larger changes was to our Learning Management
			System, or LMS. As we transitioned to Canvas as our new LMS, a lot of resources needed to be ported or
			simply created. This was a project I was able to help dive into. Quickly learning best practices as well as
			how to organize the materials was vital to getting our program off the ground. I was able to take my
			experience as an Instructor and knowledge of the course materials and flow and apply it directly to how
			materials should be built out.</p>
		<p>In the time I have helped build out template courses for the program. This includes both Full Time and Part
			Time courses for both .NET and what is now Software Development. One of these projects that was developed
			was the White Badge, or Prework, Canvas course. The course that was developed, including how to enroll and
			manage students from different courses, is still in use today.</p>
	</page-section>
	<page-section id="parttime" [sectionHeader]="'Part Time Course Development'">
		<p>Another one of the bigger projects I have built out in my time here was the development of the Part Time or
			Hybrid .NET/Software Development course. This involved taking the materials from the Full Time course and
			transitioning them into a more flexible format. This involved creating new lecture materials, experimenting
			with new assessment techniques, as well as reinforcing our evaluation methods.</p>
		<p>Working with the Learning Team, I have been fortunate enough to find time outside of the classroom to
			continue to develop the course materials. Any time that I can find outside of the classroom, you'll find me
			working on course materials.</p>
	</page-section>
	<page-section id="videos" [sectionHeader]="'Video Content'">
		<p>While originally intended on being utilized exclusively for the Part Time course, I have created a lot of
			different video materials for the program. Some of this content has been established for use in the White
			Badge course to help aid incoming students while a portion of it is intended to help deliver lecture
			materials to the Part Time students. At this point most materials have been made available for all students,
			regardless of their intended track. This means that students who are lectured to in person are able to
			review that lecture material at home later on their own time. This helps reinforce their understanding.</p>
		<p>While often time consuming, I find that the video creation process is extremely helpful for people to
			approach learning at their own pace. I have also found it to be helpful in sharing information about systems
			with the Learning Team as a whole. There have been a few times I have taken my experience in video creation
			and applied it to use as a resource for helping direct coworkers in the right direction when learning about
			new materials, such as the previously mentioned White Badge enrollment.</p>
	</page-section>
	<page-section id="refactors" [sectionHeader]="'Constant Refactor'">
		<p>Something that sets Eleven Fifty apart from other institutions is the ability to quickly adapt. Something
			that I have held on to since day one is the constant refactoring of materials. Each iteration allows us to
			grow and add to the program. I have been able to take what one course struggles with and turn it into a
			lesson for the future. Sometimes this involves small changes, such as lesson plans being built out, while
			other times this means refactoring the course material as a whole. In my discussions with outsiders and
			industry partners I have been able to restructure the materials to better prepare students for their future
			in the tech world.</p>
		<p>At the beginning of 2020 we sat down as a team to evaluate what needed to grow and change to better our
			program. At that time, based on the feedback I had received, I decided to refactor the program in two ways.
			First was the removal of Angular, which meant entirely overhauling one of our badges. The second was
			changing our format from a weekly structure of 3-5-4 to a clean 4-4-4. What this meant was that our badges
			no longer varied in length, allowing a cleaner system.</p>
		<p>Now over five months later we're seeing great results. The fundamentals are stronger and the understanding
			seems deeper in the target areas. While I have ambitious goals for the future, this is a great place to be
			at this time.</p>
	</page-section>
</section>
<page-footer></page-footer>