<nav class="navbar">
	<div class="nav-section nav-title-container">
		<div class="brand-container">
			<a href="#title">
				<h3 class="nav-brand nav-title">
					{{pageTitle.toUpperCase()}}
				</h3>
			</a>
		</div>
	</div>
	<div class="nav-section nav-btns">
		<div class="nav-options">
			<a [attr.href]="'#' + option.id" *ngFor="let option of pageOptions">
				<button class="page-option">
					<span class="center">
						{{option.label.toUpperCase()}}
					</span>
				</button>
			</a>
		</div>
		<div class="center page-menu">
			<button class="menu-select" [matMenuTriggerFor]="menu"><i class="fas fa-bars center menu-btn"></i></button>
			<mat-menu #menu="matMenu">
				<a class="menu-option" [attr.href]="'#' + option.id" *ngFor="let option of pageOptions">
					<button class="page-option">
						<span style="color: black;">
							{{option.label.toUpperCase()}}
						</span>
					</button>
				</a>
			</mat-menu>
		</div>
	</div>
</nav>