/* You can add global styles to this file, and also import other style files */

@import url('./colors.css');
@font-face {
	font-family: 'Gotham';
	src: url('./assets/Gotham-Bold.otf') format('opentype');
}

* {
	outline: 0;
	box-shadow: none !important;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Overpass', 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham', 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}