<page-header [arrowId]="'one'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>In this section you can read learn more about both my coding and other technical related skills.</p>
	<p>This includes experience with outside projects, a high level of technical understanding, generating new curricular innovations, etc.</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="one" [sectionHeader]="'Section Title'">
		<p>Trained developers from Knowledge Services on a new language.</p>
	</page-section>
	<page-section id="two" [sectionHeader]="'Section Title'">
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="three" [sectionHeader]="'Section Title'">
		<p>Section's first paragraph.</p>
	</page-section>
	<page-section id="four" [sectionHeader]="'Section Title'">
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="five" [sectionHeader]="'Section Title'">
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="six" [sectionHeader]="'Section Title'">
		<p>Section's first paragraph.</p>
	</page-section>
</section>
<page-footer></page-footer>