<page-header [arrowId]="'one'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>Learn more about me as an instructor, a developer, and as a person.</p>
	<p>This section covers my coding and other technical skills. Examples: outside projects
		demonstrating a high level of technical acumen; gaining industry standard certifications; generating new
		curricular innovations, etc.</p>
	<p>Coding and/or high-level technical skill via projects and/or certifications. Examples: outside projects
		demonstrating a high level of technical acumen; gaining industry standard certifications; generating new
		curricular innovations, etc.</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="one" [sectionHeader]="'Section Title'">
		<p>Section's first paragraph.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ea quo nulla sequi amet voluptatibus aliquid,
			consequuntur eligendi rem qui dolores tenetur odio maiores quis molestias sit obcaecati dolorum! Vero?</p>
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="two" [sectionHeader]="'Section Title'">
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ea quo nulla sequi amet voluptatibus aliquid,
			consequuntur eligendi rem qui dolores tenetur odio maiores quis molestias sit obcaecati dolorum! Vero?</p>
		<p>Section's first paragraph.</p>
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="three" [sectionHeader]="'Section Title'">
		<p>Section's first paragraph.</p>
		<p>Section's second paragraph.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ea quo nulla sequi amet voluptatibus aliquid,
			consequuntur eligendi rem qui dolores tenetur odio maiores quis molestias sit obcaecati dolorum! Vero?</p>
	</page-section>
	<page-section id="four" [sectionHeader]="'Section Title'">
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ea quo nulla sequi amet voluptatibus aliquid,
			consequuntur eligendi rem qui dolores tenetur odio maiores quis molestias sit obcaecati dolorum! Vero?</p>
		<p>Section's first paragraph.</p>
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="five" [sectionHeader]="'Section Title'">
		<p>Section's first paragraph.</p>
		<p>Section's second paragraph.</p>
	</page-section>
	<page-section id="six" [sectionHeader]="'Section Title'">
		<p>Section's first paragraph.</p>
		<p>Section's second paragraph.</p>
	</page-section>
</section>
<page-footer></page-footer>