<page-header [arrowId]="'teaching'" [headerText]="pageTitle" [subtitle]="pageSubtitle">
	<p>In this section you can read learn more about both my coding and other technical related skills.</p>
	<p>This includes experience with outside projects, a high level of technical understanding, generating new
		curricular innovations, etc.</p>
</page-header>
<page-navbar [pageTitle]="pageTitle" [pageOptions]="options"></page-navbar>
<section class="body-sections">
	<page-section id="teaching" [sectionHeader]="'Teaching Experience'">
		<p>One of my first jobs in teaching tech involved teaching a group of developers from Knowledge Services. This
			involved bringing in five developers who had been working in the industry for a while and catching them up
			to speed on newer technologies. This meant keeping up with their abilities but at the same time talking to a
			level that they were comfortable learning at. In the first day of the custom four week program, we covered
			the material that normally takes a week for new students to cover. What this meant as a fresh instructor was
			that I was required to keep growing, at least faster than the students. This was an incredible growth
			opportunity for me, even though it required consistent 12+ hour days. I would often spend the majority of
			the work day teaching them and then researching and building while they worked through their challenges.</p>
		<p>After getting through that custom program, it was on to working with the 12 week bootcamps. I was involved in
			all but a few of the .NET cohorts throughout 2019, with only a few students not knowing my name. Some days
			covering for three classes at once. While I don't recommend it, it's definitely a way to force growth. I've
			also personally led a handful of classes myself from start to finish. Anytime I stepped out it was to help
			lead or assist someone else in leading. I know I sure learned a lot in my time, and know that that growth is
			visible through the program that exists today. Now as curriculum manager of the Software Development side I
			get the responsibility to keep the program running, while also having my foot in the classroom to make sure
			any changes make sense and help the flow.</p>
	</page-section>
	<page-section id="coding" [sectionHeader]="'Coding Experience'">
		<p>My coding experience comes from a few different places, but overall is supported through my desire to learn
			and improve. From a child tinkering with video games and scripts that I now would understand, to some
			Computer Science in college, to online learning in my own time, to finally more structured education at
			Eleven Fifty, I can confidently say I've dabbled in a lot of programming. It's inspiring and a lot of fun,
			to be able to create interesting and complex programs.</p>
		<p>If I'm not working on course material or teaching a class, you can definitely find me working through courses
			online or my own projects to keep my skills up to date. I've been working through making sure I can learn
			the newest languages and frameworks so I can better inform my coworkers on what we can do better.</p>
	</page-section>
	<page-section id="projects" [sectionHeader]="'Projects'">
		<p>From small personal projects like a dice rolling app to larger scale projects for Eleven Fifty or otherwise,
			I'm constantly working on something. Teaming up with other instructors, I have helped build the groundwork
			for fun and interactive applications. Taking my expertise on the software development world I have been
			fortunate enough to apply and share this knowledge. Always pushing myself to learn new things. Currently I'm
			implementing .NET Core into my projects so that I can better be prepared to teach this in the future.</p>
	</page-section>
	<page-section id="languages" [sectionHeader]="'Languages'">
		<p>While mostly an expert in the .NET realm, I have made sure to dabble into other languages. Languages and
			frameworks I have experience with include:</p>
		<ul>
			<li>C#</li>
			<li>.NET Framework</li>
			<li>.NET Core</li>
			<li>JavaScript</li>
			<li>TypeScript</li>
			<li>Angular</li>
			<li>Lua</li>
		</ul>
	</page-section>
</section>
<page-footer></page-footer>